extends ../template

block variables
    - var title = 'Обо мне'

block content
    .about__wrapper
        section.section.hero
            //- отпозиционировать абсолютом or flex
            .hero__socials 
                ul.socials
                    .socials__container
                        svg.icon(width='50', height='50')
                            use(xlink:href='assets/images/sprite.svg#git')
                        svg.icon(width='50', height='50')
                            use(xlink:href='assets/images/sprite.svg#in')
                        svg.icon(width='50', height='50')
                            use(xlink:href='assets/images/sprite.svg#vk')
                    //- each item in ['vk', 'gh', 'in']
                    //-     li.socials_item
                    //-         a(href=`${item}`).socials__link
            a(href="").hamburger-link.hero__menu
                .hamburger
            .hero__title
                .section-title
                    //- как сделать это фоном?
                    //- img.section-title__pic(src="assets/images/header-bg.png", alt="")
                    img.section-title__effect(src="assets/images/portfolio_header.png", alt="")
                .hero__user.user
                    .user__pic
                        img.user__pic-img(src="assets/images/avatarme.png", alt="")
                    .user__info
                        .user__name Елизавета Чуйко
                        .user__data Личный сайт разработчика
            .hero__arrow.arrow-down
            svg.triangle.triangle_fill_white(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 1200 110', preserveaspectratio='none')
                polygon.about__triangle_left(points='0,0 0,111 600.8,111 600.8,100')
                polygon.about__triangle_right(points='1200,0 1200,111 600,111 600.8,100')

        section.section.about
            
            .about__left
                .about__triangle
                    
                .about__left-title
                    .block-title Обо мне
                .about__left-coctent
                    .user-description
                        .user-description__image
                            img.user-description__avatar(src="assets/images/my_avatar.jpg", alt="")
                        .user-description__title
                            .block-subtitle Кто я
                        .user-description__text.text-block
                            p Я веб разработчик из Новосибирска. Мне 27 лет. Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
            .about__right
                .about__triangle
                    //- svg.triangle.triangle_fill_beige
                .about__right-title.block-subtitle Чем я могу <br>быть вам полезен
                .about__right-description.text-block
                    p Я веб разработчик из Новосибирска. Мне 27 лет. Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
                .about__right-content
                    ul.skills-list
                        each val, cat in { 'Frontend': ['HTML5', 'CSS3', 'JavaScript & jQuery'], 'Backend': ['PHP', 'Node.js & npm'], 'Workflow': ['Git', 'Gulp', 'Bower'] }
                            li.skills-list__item 
                                .skills-row 
                                    .skills-row__title #{cat}
                                    ul.skills-row__list
                                        each item in val 
                                            li.skills__container
                                                .skills__item #{item}
                                                svg.circles(viewbox='0 0 110 110')
                                                    circle.circle__first(r='45', cx='50%', cy='50%', fill='none')
                                                    circle.circle__second.circle-25(r='45', cx='50%', cy='50%', transform='rotate(-90 55 55)')

                        //- each item in ['Frontend', 'Backend', 'Workflow']
                        //-     li.skills-list__item
                        //-         .skills-row
                        //-             .skills-row__title #{item}
                        //-             ul.skills-row__list
                        //-                 each skill in ['HTML5', 'CSS3', 'JavaScript & jQuery']
                        //-                 li.skills-row__item
                        //-                     .skill
                        //-                         svg.skill__circle
                        //-                         .skill__title
        section.section.map
            .google-map#map
            .map__data
                .contacts
                    .contacts__title
                        .block-subtitle Контакты
                    ul.contacts__list
                        //- -
                        //- var contacts = [
                        //-     ['skype', 'liza299'],
                        //-     ['mail', 'liza_218'],
                        //-     ['phone', '+7 (999) 999-99-99'],
                        //-     ['adress', 'Moscow']
                        //- ]
                        -
                            var contacts = [
                                {"path": "assets/images/skype.png" ,label: "liza299" },
                                {"path": "assets/images/phone.png" ,label: "liza_218"},
                                {"path": "assets/images/envelope.png",label: "+7 (999) 999-99-99"},
                                {"path": "assets/images/markergreen.png", label: "Moscow"}
                            ]

                        each item in contacts
                            li.contacts__item.contacts-row
                                .contacts-row__box
                                    img.contacts-row__icon(src=item.path, alt=item.name)
                                p #{item.label}
                                //- .contacts-row__icon #{item.path}
                                //- .contacts-row__title #{item.label}
            footer.footer
                .footer__row
                    .footer__col
                        .footer__text
                            p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. 
                    .footer__col
                        .footer__menu
                            nav.menu.menu_full-screen
                                ul.menu__list
                                    each item in ['Мои работы', 'Обо мне', 'Блог']
                                        li.menu__item
                                            a(href="").menu__link #{item}
                        .footer__socials
                            ul.socials
                                .socials__container.socials__footer
                                    svg.icon(width='50', height='50')
                                        use(xlink:href='assets/images/sprite.svg#git')
                                    svg.icon(width='50', height='50')
                                        use(xlink:href='assets/images/sprite.svg#in')
                                    svg.icon(width='50', height='50')
                                        use(xlink:href='assets/images/sprite.svg#vk')
                    .footer__col
                        .footer__review 
                            p Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает, где вы живете. 
                            b — Martin Golding 

                .footer__row-copyright
                    p © Владимир Астахов | Создано с любовью в LoftSchool | 2016